@model Techtouch.Models.Product

@{
    ViewBag.Title = "Details";
}

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="panel panel-primary col-lg-12 col-md-12 col-sm-12 col-xs-12 product-image-details">
            <div class="panel-heading">
                <span class="panel-title">@Html.DisplayFor(model => model.product_name)</span>
            </div>
            <div class="panel-body">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>

                <div class="pull-left col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    @if(Model.product_image != null)
                    {
                        <img src='@Url.Content("~/Content/product_images/")@Html.DisplayFor(model => model.product_image)' width="350" height="250" />
                    }
                    else
                    {
                        <img src='@Url.Content("~/Content/Images/noImage.jpg")' width="350" height="250" />
                    }
                </div>



                <div class=" col-xs-12 col-sm-6 col-md-7 col-lg-7 pull-right">
                    <span> @Html.DisplayFor(model => model.product_description) </span><br /><br />
                    <span>Description:</span> @Html.DisplayFor(model => model.product_longdescription)<br /><br />
                    <span>Cost: </span> $@Html.DisplayFor(model => model.product_price) <br />
                    <span>Product Type: @Html.DisplayFor(model => model.ProductType.product_type)</span>

                    <p class="button">
                        @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.product_id }, "")
                    </p>
                    <div>
                        <div class="fb-share-button" data-layout="button_count"></div>
                    </div>

                    <div>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
                    </div>
                    
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>